/* This file contains additional customizations for the Smith/Illiad integration */

#illiad-content {
  /* Hide unused fields */
  label[for="CallNumber"] {
    display: none;
  }
  label[for="AcceptNonEnglish"] {
    display: none;
  }
  label[for="AccountNo"] {
    display: none;
  }
  label[for="PhotoItemEdition"] {
    display: none;
  }
  label[for="CitedDate"] {
    display: none;
  }
  label[for="CitedVolume"] {
    display: none;
  }
  label[for="CitedPages"] {
    display: none;
  }
}
