/* This file contains additional customizations for the Smith/Illiad integration */
#illiad-content {
  /* Hide unused fields */
  /* Style status message */
  /* Add a little breathing room under tables */
  /* Make columns fit full width of content area */
  /* Style help block */
  /* Position required field note for more visibly */
  /* Fine print styling*/
}
#illiad-content label[for="CallNumber"] {
  display: none;
}
#illiad-content label[for="AcceptNonEnglish"] {
  display: none;
}
#illiad-content label[for="AccountNo"] {
  display: none;
}
#illiad-content label[for="PhotoItemEdition"] {
  display: none;
}
#illiad-content label[for="CitedDate"] {
  display: none;
}
#illiad-content label[for="CitedVolume"] {
  display: none;
}
#illiad-content label[for="CitedPages"] {
  display: none;
}
#illiad-content #status {
  padding: 3% !important;
  border: 1px solid grey !important;
  margin: 0 !important;
  margin-bottom: 1em !important;
}
#illiad-content #status span:before {
  font-family: FontAwesome;
  content: "\f05a\00a";
}
#illiad-content table {
  margin-bottom: 1.5em;
}
@media (min-width: 768px) {
  #illiad-content #content-wrap > div:first-child {
    padding-left: 0;
  }
  #illiad-content #content-wrap > div:last-child {
    padding-right: 0;
  }
}
#illiad-content #library-help {
  padding: 1em;
  background-color: whitesmoke;
}
#illiad-content div.req {
  position: relative !important;
  width: auto !important;
  text-align: left !important;
  margin-bottom: 1em;
  font-size: 100% !important;
  top: 0 !important;
  right: 0 !important;
}
#illiad-content .fine-print {
  font-size: 80%;
  margin-top: 1.5em;
}
/* Hide clone button on renew checked out items detail page */
.ViewRenewCheckedOutDetailedInformation #transactionMenu .menuClone,
.ViewRenewCheckedOutDetailedInformation #transactionMenu .menuSeparator {
  display: none;
}
