/*
LEGAL
=====
Copyright � 2015 Atlas Systems, Inc. All rights reserved.
*/
#illiad-content {
  /* FORMS */
  /* FORMS - general classes */
  /* FORMS - f-wrap-1 - simple form, headings on left, form elements on right */
  /* hide from IE mac \*/
  /* end hiding from IE5 mac */
  /* FORMS - f-wrap-2 - simple form, headings on top, form elements on bottom */
  /* hide from IE mac \*/
  /* end hiding from IE5 mac */
  /* FORMS - f-wrap-request - simple form, headings on left, form elements on right */
  /* hide from IE mac \*/
  /* end hiding from IE5 mac */
  /* FORMS - f-wrap-detail - simple form, headings on left, form elements on right */
  /* hide from IE mac \*/
  /* end hiding from IE5 mac */
  /* TYPOGRAPHY */
  /* GENERAL */
  /* LAYOUT - HEADER */
  /* SEARCH */
  /* POWERED BY */
  /* LAYOUT - main body of page */
  /* ALERTS */
  /* TRANSACTION MENU */
  /* LAYOUT TYPE B */
  /* LAYOUT TYPE C */
  /* LAYOUT TYPE D */
  /* LAYOUT TYPE E */
  /* NAVIGATION */
  /* NAVIGATION - 2nd TIER */
  /* NAVIGATION - 3rd TIER */
  /* NAVIGATION - 4th TIER */
  /* LAYOUT - FOOTER */
  /* DEFAULT TABLE */
  /* FAQ */
}
#illiad-content a.offsite:link,
#illiad-content .offsite {
  padding-right: 12px;
  background: transparent url("images/aoutside.gif") no-repeat 100%;
  white-space: nowrap;
}
#illiad-content .iconlist {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#illiad-content .notificationPreferences {
  clear: left;
  float: left;
  width: 100%;
  border-bottom: 1px solid #fff;
  padding: 5px 0;
}
#illiad-content .notificationPreferences:last-of-type {
  margin-bottom: 10px;
}
#illiad-content .notificationPreferences table {
  width: 100%;
}
#illiad-content .notificationPreferences table td {
  font: 83%/1.5 arial, tahoma, verdana, sans-serif;
}
#illiad-content form {
  margin: 0 0 1.5em;
}
#illiad-content input {
  font-family: arial, tahoma, verdana, sans-serif;
  margin: 2px 0;
}
#illiad-content fieldset {
  border: none;
}
#illiad-content label {
  display: block;
  padding: 5px 0;
}
#illiad-content label br {
  clear: left;
}
#illiad-content input.f-submit {
  padding: 1px 3px;
  background: #666;
  color: #fff;
  font-weight: bold;
  font-size: 96%;
}
#illiad-content form.f-wrap-1 {
  width: 100%;
  padding: .5em 0;
  background: #f6f6f6;
  border-top: 1px solid #d7d7d7;
  position: relative;
}
#illiad-content form.f-wrap-1 fieldset {
  width: auto;
  margin: 0 1em;
}
#illiad-content form.f-wrap-1 h3 {
  margin: 0 0 .6em;
  font: bold 155% arial;
  color: #003e51;
}
#illiad-content form.f-wrap-1 label {
  clear: left;
  float: left;
  width: 100%;
  border-top: 1px solid #fff;
}
#illiad-content form.f-wrap-1 label {
  float: none;
}
#illiad-content form.f-wrap-1 label input,
#illiad-content form.f-wrap-1 label textarea,
#illiad-content form.f-wrap-1 label select {
  width: 15em;
  float: left;
  margin-left: 10px;
}
#illiad-content form.f-wrap-1 label .field {
  float: left;
  width: 8em;
  line-height: 1.7;
  display: block;
  position: relative;
}
#illiad-content form.f-wrap-1 label .field .note {
  color: #333333;
  font-size: 80%;
  font-weight: normal;
}
#illiad-content form.f-wrap-1 label .field .req {
  color: #003e51;
  font-size: 150%;
  font-weight: normal;
  position: absolute;
  top: -0.1em;
  line-height: 1em;
  left: -0.4em;
  width: .3em;
  height: 0.3em;
}
#illiad-content form.f-wrap-1 div.req {
  color: #666;
  font-size: 96%;
  font-weight: normal;
  position: absolute;
  top: .4em;
  right: .4em;
  left: auto;
  width: 13em;
  text-align: right;
}
#illiad-content form.f-wrap-1 div.req b {
  color: #003e51;
  font-size: 140%;
}
#illiad-content form.f-wrap-1 label select {
  width: 15.5em;
}
#illiad-content form.f-wrap-1 label textarea.f-comments {
  width: 20em;
}
#illiad-content form.f-wrap-1 div.f-submit-wrap {
  padding: 5px 0 5px 8em;
}
#illiad-content form.f-wrap-1 input.f-submit {
  margin: 0 0 0 10px;
}
#illiad-content form.f-wrap-1 fieldset.f-checkbox-wrap,
#illiad-content form.f-wrap-1 fieldset.f-radio-wrap {
  float: left;
  width: 32em;
  border: none;
  margin: 0;
  padding-bottom: 0.7em;
}
#illiad-content form.f-wrap-1 fieldset.f-checkbox-wrap b,
#illiad-content form.f-wrap-1 fieldset.f-radio-wrap b {
  float: left;
  width: 8em;
  line-height: 1.7;
  display: block;
  position: relative;
  padding-top: 0.3em;
}
#illiad-content form.f-wrap-1 fieldset.f-checkbox-wrap fieldset,
#illiad-content form.f-wrap-1 fieldset.f-radio-wrap fieldset {
  float: left;
  width: 13em;
  margin: 3px 0 0 10px;
}
#illiad-content form.f-wrap-1 fieldset.f-checkbox-wrap label,
#illiad-content form.f-wrap-1 fieldset.f-radio-wrap label {
  float: left;
  width: 13em;
  border: none;
  margin: 0;
  padding: 2px 0;
  margin-right: -3px;
}
#illiad-content form.f-wrap-1 label input.f-checkbox,
#illiad-content form.f-wrap-1 label input.f-radio {
  width: auto;
  float: none;
  margin: 0;
  padding: 0;
}
#illiad-content form.f-wrap-1 label span.errormsg {
  position: absolute;
  top: 0;
  right: -10em;
  left: auto;
  display: block;
  width: 16em;
  background: transparent url(images/errormsg_bg.gif) no-repeat 0 0;
}
#illiad-content form.f-wrap-1 label span.errormsg b {
  padding: 10px 0;
  margin: 0 10px 0 30px;
  color: #B30800;
  font-weight: bold;
  display: block;
  width: auto;
  float: none;
  line-height: 1.3;
}
#illiad-content form.f-wrap-2 {
  width: 100%;
  padding: .5em 0;
  background: #f6f6f6;
  border-top: 1px solid #d7d7d7;
  position: relative;
}
#illiad-content form.f-wrap-2 fieldset {
  width: auto;
  margin: 0 1em;
}
#illiad-content form.f-wrap-2 h3 {
  margin: 0 0 .6em;
  font: bold 155% arial;
  color: #003e51;
}
#illiad-content form.f-wrap-2 label {
  clear: left;
  float: left;
  width: 100%;
  border-top: 1px solid #fff;
}
#illiad-content form.f-wrap-2 label {
  float: none;
}
#illiad-content form.f-wrap-2 label input,
#illiad-content form.f-wrap-2 label textarea,
#illiad-content form.f-wrap-2 label select {
  float: left;
  margin-left: 10px;
}
#illiad-content form.f-wrap-2 label b {
  float: left;
  line-height: 1.7;
  display: block;
  position: relative;
}
#illiad-content form.f-wrap-2 label b .req {
  color: #003e51;
  font-size: 150%;
  font-weight: normal;
  position: absolute;
  top: -0.1em;
  line-height: 1;
  left: -0.4em;
  width: .3em;
  height: 0.3em;
}
#illiad-content form.f-wrap-2 div.req {
  color: #666;
  font-size: 96%;
  font-weight: normal;
  position: absolute;
  top: .4em;
  right: .4em;
  left: auto;
  width: 13em;
  text-align: right;
}
#illiad-content form.f-wrap-2 div.req b {
  color: #003e51;
  font-size: 140%;
}
#illiad-content form.f-wrap-2 label select {
  width: 15.5em;
}
#illiad-content form.f-wrap-2 label textarea.f-comments {
  width: 20em;
}
#illiad-content form.f-wrap-2 div.f-submit-wrap {
  padding: 5px 0 5px 8em;
}
#illiad-content form.f-wrap-2 input.f-submit {
  margin: 0 0 0 10px;
}
#illiad-content form.f-wrap-2 fieldset.f-checkbox-wrap,
#illiad-content form.f-wrap-2 fieldset.f-radio-wrap {
  clear: left;
  float: left;
  width: 32em;
  border: none;
  margin: 0;
  padding-bottom: 0.7em;
}
#illiad-content form.f-wrap-2 fieldset.f-checkbox-wrap b,
#illiad-content form.f-wrap-2 fieldset.f-radio-wrap b {
  float: left;
  width: 8em;
  line-height: 1.7;
  display: block;
  position: relative;
  padding-top: 0.3em;
}
#illiad-content form.f-wrap-2 fieldset.f-checkbox-wrap fieldset,
#illiad-content form.f-wrap-2 fieldset.f-radio-wrap fieldset {
  float: left;
  margin: 3px 0 0 10px;
}
#illiad-content form.f-wrap-2 fieldset.f-checkbox-wrap label,
#illiad-content form.f-wrap-2 fieldset.f-radio-wrap label {
  float: left;
  border: none;
  margin: 0;
  padding: 2px 0;
  margin-right: -3px;
}
#illiad-content form.f-wrap-2 label input.f-checkbox,
#illiad-content form.f-wrap-2 label input.f-radio {
  width: auto;
  float: none;
  margin: 0;
  padding: 0;
}
#illiad-content form.f-wrap-2 label span.errormsg {
  position: absolute;
  top: 0;
  right: -10em;
  left: auto;
  display: block;
  width: 16em;
  background: transparent url(images/errormsg_bg.gif) no-repeat 0 0;
}
#illiad-content form.f-wrap-2 label span.errormsg b {
  padding: 10px 0;
  margin: 0 10px 0 30px;
  color: #B30800;
  font-weight: bold;
  display: block;
  width: auto;
  float: none;
  line-height: 1.3;
}
#illiad-content form.f-wrap-request {
  width: 100%;
  padding: .5em 0;
  background: #f6f6f6;
  border-top: 1px solid #d7d7d7;
  position: relative;
}
#illiad-content form.f-wrap-request fieldset {
  width: auto;
  margin: 0 1em;
}
#illiad-content form.f-wrap-request h3 {
  margin: 0 0 .6em;
  font: bold 155% arial;
  color: #003e51;
}
#illiad-content form.f-wrap-request h2 {
  margin: .6em 0 .6em;
  font: bold 155% arial;
  color: #003e51;
}
#illiad-content form.f-wrap-request label {
  clear: left;
  float: left;
  width: 100%;
  border-bottom: 1px solid #fff;
}
#illiad-content form.f-wrap-request label {
  float: none;
}
#illiad-content form.f-wrap-request label input,
#illiad-content form.f-wrap-request label textarea,
#illiad-content form.f-wrap-request label select {
  width: 100%;
  float: left;
}
#illiad-content form.f-wrap-request label b {
  float: left;
  width: 100%;
  line-height: 1.7;
  display: block;
  position: relative;
}
#illiad-content form.f-wrap-request label b .note {
  color: #333333;
  font-size: 80%;
  font-weight: normal;
}
#illiad-content form.f-wrap-request label b .req {
  color: #003e51;
  font-size: 150%;
  font-weight: normal;
  position: absolute;
  top: -0.1em;
  line-height: 1em;
  left: -0.4em;
  width: .3em;
  height: 0.3em;
}
#illiad-content form.f-wrap-request label .field {
  float: left;
  width: 100%;
  line-height: 1.7;
  display: block;
  position: relative;
}
#illiad-content form.f-wrap-request label .field .note {
  color: #333333;
  font-size: 80%;
  font-weight: normal;
}
#illiad-content form.f-wrap-request label .field .req {
  color: #003e51;
  font-size: 150%;
  font-weight: bold;
  position: absolute;
  top: -0.1em;
  line-height: 1em;
  left: -0.4em;
  width: .3em;
  height: 0.3em;
}
#illiad-content form.f-wrap-request div.req {
  color: #666;
  font-size: 96%;
  font-weight: normal;
  position: absolute;
  top: .4em;
  right: .4em;
  left: auto;
  width: 13em;
  text-align: right;
}
#illiad-content form.f-wrap-request div.req b {
  color: #003e51;
  font-size: 140%;
}
#illiad-content form.f-wrap-request label select {
  width: 15.5em;
}
#illiad-content form.f-wrap-request label textarea.f-comments {
  width: 20em;
}
#illiad-content form.f-wrap-request div.f-submit-wrap {
  padding: 5px 0 5px 8em;
}
#illiad-content form.f-wrap-request input.f-submit {
  margin: 0 0 0 10px;
}
#illiad-content form.f-wrap-request fieldset.f-checkbox-wrap,
#illiad-content form.f-wrap-request fieldset.f-radio-wrap {
  float: left;
  width: 32em;
  border: none;
  margin: 0;
  padding-bottom: 0.7em;
}
#illiad-content form.f-wrap-request fieldset.f-checkbox-wrap b,
#illiad-content form.f-wrap-request fieldset.f-radio-wrap b {
  float: left;
  width: 8em;
  line-height: 1.7;
  display: block;
  position: relative;
  padding-top: 0.3em;
}
#illiad-content form.f-wrap-request fieldset.f-checkbox-wrap fieldset,
#illiad-content form.f-wrap-request fieldset.f-radio-wrap fieldset {
  float: left;
  width: 13em;
  margin: 3px 0 0 10px;
}
#illiad-content form.f-wrap-request fieldset.f-checkbox-wrap label,
#illiad-content form.f-wrap-request fieldset.f-radio-wrap label {
  float: left;
  width: 13em;
  border: none;
  margin: 0;
  padding: 2px 0;
  margin-right: -3px;
}
#illiad-content form.f-wrap-request label input.f-checkbox,
#illiad-content form.f-wrap-request label input.f-radio {
  width: auto;
  float: none;
  margin: 0;
  padding: 0;
}
#illiad-content form.f-wrap-request label span.errormsg {
  position: absolute;
  top: 0;
  right: -10em;
  left: auto;
  display: block;
  width: 16em;
  background: transparent url(images/errormsg_bg.gif) no-repeat 0 0;
}
#illiad-content form.f-wrap-request label span.errormsg b {
  padding: 10px 0;
  margin: 0 10px 0 30px;
  color: #B30800;
  font-weight: bold;
  display: block;
  width: auto;
  float: none;
  line-height: 1.3;
}
#illiad-content form.f-wrap-detail {
  width: 100%;
  padding: .5em 0;
  background: #f6f6f6;
  border-top: 1px solid #d7d7d7;
  position: relative;
}
#illiad-content form.f-wrap-detail fieldset {
  width: auto;
  margin: 0 1em;
}
#illiad-content form.f-wrap-detail h3 {
  margin: 0 0 .6em;
  font: bold 155% arial;
  color: #003e51;
}
#illiad-content form.f-wrap-detail h2 {
  margin: .6em 0 .6em;
  font: bold 155% arial;
  color: #003e51;
}
#illiad-content form.f-wrap-detail label {
  clear: left;
  float: left;
  width: 100%;
  border-bottom: 1px solid #fff;
}
#illiad-content form.f-wrap-detail label {
  float: none;
}
#illiad-content form.f-wrap-detail label input,
#illiad-content form.f-wrap-detail label textarea,
#illiad-content form.f-wrap-detail label select {
  width: 100%;
  float: left;
}
#illiad-content form.f-wrap-detail label b {
  float: left;
  width: 100%;
  line-height: 1.7;
  display: block;
  position: relative;
}
#illiad-content form.f-wrap-detail label b .note {
  color: #333333;
  font-size: 80%;
  font-weight: normal;
}
#illiad-content form.f-wrap-detail label b .req {
  color: #003e51;
  font-size: 150%;
  font-weight: normal;
  position: absolute;
  top: -0.1em;
  line-height: 1em;
  left: -0.4em;
  width: .3em;
  height: 0.3em;
}
#illiad-content form.f-wrap-detail div.req {
  color: #666;
  font-size: 96%;
  font-weight: normal;
  position: absolute;
  top: .4em;
  right: .4em;
  left: auto;
  width: 13em;
  text-align: right;
}
#illiad-content form.f-wrap-detail div.req b {
  color: #003e51;
  font-size: 140%;
}
#illiad-content form.f-wrap-detail label select {
  width: 15.5em;
}
#illiad-content form.f-wrap-detail label textarea.f-comments {
  width: 20em;
}
#illiad-content form.f-wrap-detail div.f-submit-wrap {
  padding: 5px 0 5px 8em;
}
#illiad-content form.f-wrap-detail input.f-submit {
  margin: 0 0 0 10px;
}
#illiad-content form.f-wrap-detail fieldset.f-checkbox-wrap,
#illiad-content form.f-wrap-detail fieldset.f-radio-wrap {
  float: left;
  width: 32em;
  border: none;
  margin: 0;
  padding-bottom: 0.7em;
}
#illiad-content form.f-wrap-detail fieldset.f-checkbox-wrap b,
#illiad-content form.f-wrap-detail fieldset.f-radio-wrap b {
  float: left;
  width: 8em;
  line-height: 1.7;
  display: block;
  position: relative;
  padding-top: 0.3em;
}
#illiad-content form.f-wrap-detail fieldset.f-checkbox-wrap fieldset,
#illiad-content form.f-wrap-detail fieldset.f-radio-wrap fieldset {
  float: left;
  width: 13em;
  margin: 3px 0 0 10px;
}
#illiad-content form.f-wrap-detail fieldset.f-checkbox-wrap label,
#illiad-content form.f-wrap-detail fieldset.f-radio-wrap label {
  float: left;
  width: 13em;
  border: none;
  margin: 0;
  padding: 2px 0;
  margin-right: -3px;
}
#illiad-content form.f-wrap-detail label input.f-checkbox,
#illiad-content form.f-wrap-detail label input.f-radio {
  width: auto;
  float: none;
  margin: 0;
  padding: 0;
}
#illiad-content form.f-wrap-detail label span.errormsg {
  position: absolute;
  top: 0;
  right: -10em;
  left: auto;
  display: block;
  width: 16em;
  background: transparent url(images/errormsg_bg.gif) no-repeat 0 0;
}
#illiad-content form.f-wrap-detail label span.errormsg b {
  padding: 10px 0;
  margin: 0 10px 0 30px;
  color: #B30800;
  font-weight: bold;
  display: block;
  width: auto;
  float: none;
  line-height: 1.3;
}
#illiad-content p,
#illiad-content ul,
#illiad-content ol {
  margin: 0 0 1.5em;
}
#illiad-content .highlight {
  color: #E17000;
}
#illiad-content .subdued {
  color: #999;
}
#illiad-content .error {
  color: #C00;
  font-weight: bold;
}
#illiad-content .success {
  color: #390;
  font-weight: bold;
}
#illiad-content .caption {
  color: #999;
  font-size: 11px;
}
#illiad-content .date {
  font: bold 82% arial;
  color: #bbb;
  display: block;
  letter-spacing: 1px;
}
#illiad-content small {
  font-size: 11px;
}
#illiad-content dl {
  margin: 0 0 1em 0;
}
#illiad-content dt {
  font-weight: bold;
  margin-top: 1.3em;
}
#illiad-content dl dl {
  margin: 0 0 1.5em 30px;
}
#illiad-content img {
  border: none;
}
#illiad-content hr {
  margin: 1em 0;
  background: #f2f2f2;
  height: 1px;
  color: #f2f2f2;
  border: none;
  clear: both;
}
#illiad-content .clear {
  clear: both;
  position: relative;
  font-size: 0px;
  height: 0px;
  line-height: 0px;
}
#illiad-content #header {
  background-color: #efefef;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-top: 5px solid #003e51;
  border-bottom: 5px solid #003e51;
  margin: 0 0 25px;
  padding: 6px 0 0 2px;
}
#illiad-content #header #site-name {
  font: 265% arial;
  letter-spacing: -0.05em;
  margin: 0px 0 0 40px;
  padding: 3px;
  color: #003e51;
  border: none;
}
#illiad-content #header #title-name {
  font: 265% arial;
  letter-spacing: -0.05em;
  margin: 0px 0 0 40px;
  padding: 3px;
  color: #003e51;
  border: none;
}
#illiad-content #header #user-name {
  font: 100% ariel;
  margin: 0px 0 0 0;
  padding: 3px;
  color: #333333;
  border: none;
}
#illiad-content #search {
  color: #003e51;
  font-weight: bold;
  position: absolute;
  top: 17px;
  right: 10px;
}
#illiad-content #search form {
  margin: 0 0 5px 0;
}
#illiad-content #search input.f-criteria {
  width: 8em;
  margin: 0 0 -1px;
  height: 1.6em;
}
#illiad-content #search label {
  padding: 5px 0 0;
  display: inline;
}
#illiad-content #search input.f-submit {
  width: auto;
  font-size: 81%;
  margin: 0 0 -0.15em;
  height: 1.95em;
}
#illiad-content #search #searchType input {
  margin: 0 0 -0.4em;
  height: 1.2em;
}
#illiad-content #search #searchType label {
  font-weight: normal;
  font-size: 0.8em;
  padding: 0px 0 0 5;
}
#illiad-content #poweredby {
  width: 96px;
  height: 63px;
  position: absolute;
  top: -102px;
  right: 0;
}
#illiad-content #utility {
  position: absolute;
  top: 0;
  left: 25px;
  width: 165px;
  border-top: 0px solid #999;
  padding-bottom: 40px;
}
#illiad-content #sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  width: 20%;
  border-top: 5px solid #999;
  padding-top: 1px;
  padding-bottom: 40px;
}
#illiad-content #content {
  margin: 0 50px;
}
#illiad-content #content #breadcrumb {
  margin-top: -5px;
  font-size: 93%;
  font-weight: bold;
}
#illiad-content #content #breadcrumb a:link,
#illiad-content #content #breadcrumb a:visited {
  text-decoration: none;
}
#illiad-content #content #breadcrumb a:hover,
#illiad-content #content #breadcrumb a:active {
  text-decoration: underline;
}
#illiad-content .featurebox {
  color: #333;
  padding: 15px 20px 20px;
  border-top: 1px solid #d7d7d7;
  margin: 0 0 1.5em;
  background: #f6f6f6 url("images/featurebox_bg.gif") no-repeat 100% 100%;
}
#illiad-content .featurebox p,
#illiad-content .featurebox h1,
#illiad-content .featurebox h2,
#illiad-content .featurebox h3,
#illiad-content .featurebox h4,
#illiad-content .featurebox h5,
#illiad-content .featurebox h6 {
  margin: 0 0 .3em;
  border-bottom: 1px solid #333399;
  color: #333399;
}
#illiad-content .featurebox p {
  border: none;
  margin: 0 0 0.5em;
  color: #444;
}
#illiad-content .featurebox a {
  font-weight: bold;
}
#illiad-content .alertNone {
  color: #333;
  padding: 0px 20px 20px;
  border-top: 1px solid #d7d7d7;
  margin: 0 0 1.5em;
  background: #f6f6f6;
}
#illiad-content .alertNone p,
#illiad-content .featurebox h1,
#illiad-content .featurebox h2,
#illiad-content .featurebox h3,
#illiad-content .featurebox h4,
#illiad-content .featurebox h5,
#illiad-content .featurebox h6 {
  margin: 0 0 .3em;
  border-bottom: 1px solid #333399;
  color: #333399;
}
#illiad-content .alertNone p {
  border: none;
  margin: 0 0 0.5em;
  color: #444;
}
#illiad-content .alertNone a {
  font-weight: bold;
}
#illiad-content .alertSystem {
  color: #333;
  padding: 0px 20px 20px;
  border-top: 1px solid #d7d7d7;
  margin: 0 0 1.5em;
  background: #f6f6f6;
}
#illiad-content .alertSystem p,
#illiad-content .featurebox h1,
#illiad-content .featurebox h2,
#illiad-content .featurebox h3,
#illiad-content .featurebox h4,
#illiad-content .featurebox h5,
#illiad-content .featurebox h6 {
  margin: 0 0 .3em;
  border-bottom: 1px solid #333399;
  color: #333399;
}
#illiad-content .alertSystem p {
  border: none;
  margin: 0 0 0.5em;
  color: #444;
}
#illiad-content .alertSystem a {
  font-weight: bold;
}
#illiad-content .alertUser {
  color: #333;
  padding: 0px 20px 20px;
  border-top: 1px solid #d7d7d7;
  margin: 0 0 1.5em;
  background: #f6f6f6;
}
#illiad-content .alertUser p,
#illiad-content .featurebox h1,
#illiad-content .featurebox h2,
#illiad-content .featurebox h3,
#illiad-content .featurebox h4,
#illiad-content .featurebox h5,
#illiad-content .featurebox h6 {
  margin: 0 0 .3em;
  border-bottom: 1px solid #333399;
  color: #333399;
}
#illiad-content .alertUser p {
  border: none;
  margin: 0 0 0.5em;
  color: #444;
}
#illiad-content .alertUser a {
  font-weight: bold;
}
#illiad-content .alertStatus {
  color: #333;
  padding: 0px 20px 20px;
  border-top: 1px solid #d7d7d7;
  margin: 0 0 1.5em;
  background: #f6f6f6;
}
#illiad-content .alertStatus p,
#illiad-content .featurebox h1,
#illiad-content .featurebox h2,
#illiad-content .featurebox h3,
#illiad-content .featurebox h4,
#illiad-content .featurebox h5,
#illiad-content .featurebox h6 {
  margin: 0 0 .3em;
  border-bottom: 1px solid #333399;
  color: #333399;
}
#illiad-content .alertStatus p {
  border: none;
  margin: 0 0 0.5em;
  color: #444;
}
#illiad-content .alertStatus a {
  font-weight: bold;
}
#illiad-content .alertDeliveryLocation {
  color: #333;
  padding: 0px 20px 20px;
  border-top: 1px solid #d7d7d7;
  margin: 0 0 1.5em;
  background: #f6f6f6;
}
#illiad-content .alertDeliveryLocation p,
#illiad-content .featurebox h1,
#illiad-content .featurebox h2,
#illiad-content .featurebox h3,
#illiad-content .featurebox h4,
#illiad-content .featurebox h5,
#illiad-content .featurebox h6 {
  margin: 0 0 .3em;
  border-bottom: 1px solid #333399;
  color: #333399;
}
#illiad-content .alertDeliveryLocation p {
  border: none;
  margin: 0 0 0.5em;
  color: #444;
}
#illiad-content .alertDeliveryLocation a {
  font-weight: bold;
}
#illiad-content #transactionMenu {
  border-top: 5px solid #999;
  border-bottom: 1px solid #ccc;
  margin-bottom: .5em;
  width: 100%;
}
#illiad-content #transactionMenu a:link,
#illiad-content #transactionMenu a:visited {
  color: #003e51;
  font-weight: bold;
  line-height: 2em;
  padding: 0.3em;
}
#illiad-content #transactionMenu a:hover,
#illiad-content #transactionMenu a:active {
  background-color: #efefef;
}
#illiad-content #transactionMenu .separator {
  color: ccc;
  margin-left: 5px;
  margin-right: 5px;
}
#illiad-content #transactionMenu .noActionMessage {
  color: #999;
  font-weight: normal;
  line-height: 2em;
  padding: 0.3em;
}
#illiad-content #type-b #content-wrap {
  background: transparent url("images/content_wrap_bg.gif") repeat-y 30px 0;
}
#illiad-content #type-b #content {
  margin: 0 23px 0 235px;
}
#illiad-content #type-c #content-wrap {
  background: transparent url("images/content_wrap_bg.gif") repeat-y 30px 0;
}
#illiad-content #type-c #content {
  margin: 0 25% 0 235px;
}
#illiad-content #type-d #content {
  margin: 0 25% 0 50px;
}
#illiad-content #type-e #content-wrap {
  background: transparent url("images/content_wrap_e_bg.gif") repeat-y 100% 0;
}
#illiad-content #type-e #utility {
  position: absolute;
  top: 0;
  left: auto;
  right: 25px;
  width: 165px;
  border-top: 5px solid #999;
}
#illiad-content #type-e #content {
  margin: 0 243px 0 50px;
}
#illiad-content #nav,
#illiad-content #nav ul {
  position: static;
}
#illiad-content #nav,
#illiad-content #nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
}
#illiad-content #nav {
  padding-top: 0;
  border-top: 5px solid #999;
  margin-top: 1px;
}
#illiad-content #nav a {
  line-height: 1.8;
  padding: 5px 0 5px 23px;
  background: #fff url("images/sprites.gif") no-repeat 10px -695px;
  font: bold 96% arial;
  display: block;
}
#illiad-content #nav a,
#illiad-content #nav a:link,
#illiad-content #nav a:visited,
#illiad-content #nav a:hover,
#illiad-content #nav a:active {
  text-decoration: none;
  cursor: pointer;
}
#illiad-content #nav a:link {
  color: #000;
}
#illiad-content #nav a:visited {
  color: #000;
}
#illiad-content #nav a:hover {
  color: #003e51;
  background: #fee url("images/sprites.gif") no-repeat 10px -695px;
}
#illiad-content #nav li.active a:link,
#illiad-content #nav li.active a:visited,
#illiad-content #nav li.active a:hover,
#illiad-content #nav li.active a:active {
  color: #003e51;
}
#illiad-content #nav li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}
#illiad-content #nav .default {
  color: #003e51;
}
#illiad-content #nav ul {
  margin: 0 0 1em 23px;
  padding: 0;
}
#illiad-content #nav li.active li a,
#illiad-content #nav li.active li a:link,
#illiad-content #nav li.active li a:visited {
  line-height: 1.3;
  background: #fff url("images/sprites.gif") no-repeat 0 -798px;
  padding: 0 0 0 12px;
  font-weight: normal;
  width: auto;
  color: #000;
  width: 130px;
  display: block;
}
#illiad-content #nav li.active li a:hover,
#illiad-content #nav li.active li a:active {
  color: #003e51;
}
#illiad-content #nav li.active li {
  border: none;
  margin: 0;
}
#illiad-content #nav li.active li.active a:link,
#illiad-content #nav li.active li.active a:visited,
#illiad-content #nav li.active li.active a:hover,
#illiad-content #nav li.active li.active a:active {
  font-weight: bold;
}
#illiad-content #nav ul ul {
  margin: 0 0 1em 13px;
  padding: 0;
}
#illiad-content #nav li.active li.active li a,
#illiad-content #nav li.active li.active li a:link,
#illiad-content #nav li.active li.active li a:visited {
  width: 117px;
}
#illiad-content #nav li.active li.active li a:link,
#illiad-content #nav li.active li.active li a:visited,
#illiad-content #nav li.active li.active li a:hover,
#illiad-content #nav li.active li.active li a:active {
  font-weight: normal;
}
#illiad-content #nav li.active li.active li.active a:link,
#illiad-content #nav li.active li.active li.active a:visited,
#illiad-content #nav li.active li.active li.active a:hover,
#illiad-content #nav li.active li.active li.active a:active {
  font-weight: bold;
}
#illiad-content #nav ul ul ul {
  margin: 0 0 1em 13px;
  padding: 0;
}
#illiad-content #nav li.active li.active li.active li a,
#illiad-content #nav li.active li.active li.active li a:link,
#illiad-content #nav li.active li.active li.active li a:visited {
  width: 104px;
}
#illiad-content #nav li.active li.active li.active li a:link,
#illiad-content #nav li.active li.active li.active li a:visited,
#illiad-content #nav li.active li.active li.active li a:hover,
#illiad-content #nav li.active li.active li.active li a:active {
  font-weight: normal;
}
#illiad-content #nav li.active li.active li.active li.active a:link,
#illiad-content #nav li.active li.active li.active li.active a:visited,
#illiad-content #nav li.active li.active li.active li.active a:hover,
#illiad-content #nav li.active li.active li.active li.active a:active {
  font-weight: bold;
}
#illiad-content #footer {
  clear: both;
  border-top: 1px solid #E3E8EE;
  padding: 10px 0 30px;
  font-size: 86%;
  color: #999;
  text-align: left;
}
#illiad-content #footer p {
  margin: 0;
}
#illiad-content #footer a:link {
  color: #999;
}
#illiad-content .default-table {
  width: 100%;
}
#illiad-content .default-table table {
  border: 1px solid #003e51;
  font: 75%/1.5em arial, geneva, sans-serif;
  border-collapse: collapse;
}
#illiad-content .default-table tbody td {
  font-size: 100%;
  letter-spacing: 0.05em;
}
#illiad-content .default-table tbody td,
#illiad-content th {
  border-left: 1px solid #003e51;
  vertical-align: top;
  padding: 5px;
}
#illiad-content .default-table thead tr {
  background: #efefef;
  color: #000;
}
#illiad-content .default-table thead tr.row-header {
  background: #003e51;
  color: #fff;
}
#illiad-content .default-table thead tr.row-headings {
  border-bottom: 1px solid #003e51;
}
#illiad-content .default-table thead th {
  padding: 5px 5px;
  text-align: left;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 110%;
}
#illiad-content .default-table tbody th {
  padding: 5px 5px 5px 5px;
  text-align: left;
  font-size: 110%;
  color: #fff;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  text-transform: uppercase;
}
#illiad-content .default-table tbody tr.row-odd th {
  background: #efefef;
}
#illiad-content .default-table tbody tr.row-odd {
  background: #efefef;
}
#illiad-content .default-table tbody tr th {
  background: #ffffff;
}
#illiad-content .default-table tbody tr {
  background: #ffffff;
}
#illiad-content .default-table tfoot th,
#illiad-content tfoot td {
  margin: 0;
  border-top: 2px solid #fff;
  padding: 5px 10px;
  text-align: left;
  background: #F8F12A;
  color: #000;
}
#illiad-content .default-table tfoot th {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: none;
}
#illiad-content .default-table tfoot td {
  padding-left: 10px;
}
#illiad-content .default-table a {
  text-decoration: none;
}
#illiad-content .default-table a:link {
  color: #0000FF;
  text-decoration: underline;
}
#illiad-content #faq-toc li {
  font-weight: bold;
  line-height: 1.4em;
  padding-left: 10px;
  background-image: url("images/bullet.gif");
  background-repeat: no-repeat;
}
#illiad-content #faq-contents {
  line-height: normal;
}
#illiad-content #faq-contents .faq-item {
  width: 100%;
  border-top: 5px solid #999;
  padding-top: 1px;
  padding-bottom: 10px;
}
#illiad-content #faq-contents .faq-item-box {
  color: #333;
  padding: 0px 20px 20px;
  border-top: 1px solid #d7d7d7;
  background: #f6f6f6;
}
#illiad-content #faq-contents .faq-item-box p,
#illiad-content .featurebox h1,
#illiad-content .featurebox h2,
#illiad-content .featurebox h3,
#illiad-content .featurebox h4,
#illiad-content .featurebox h5,
#illiad-content .featurebox h6 {
  margin: 0 0 .3em;
  border-bottom: 1px solid #333399;
  color: #333399;
}
#illiad-content #faq-contents .faq-item-box p {
  border: none;
  margin: 0 0 1em;
  color: #444;
}
#illiad-content #faq-contents .faq-item-box a {
  font-weight: bold;
}
#illiad-content #faq-contents li {
  font-weight: normal;
  line-height: 1.4em;
  padding-left: 0px;
  background-image: url(/css/images/bullet.gif);
  background-repeat: no-repeat;
}
#illiad-content #status {
  font: Arial, Helvetica, sans-serif;
  margin: 0px 0 0 40px;
  padding: 3px;
  color: #333333;
  border: none;
}
#illiad-content #status .statusNormal {
  color: #333333;
}
#illiad-content #status .statusInformation {
  color: #0000FF;
}
#illiad-content #status .statusError {
  color: #FF0000;
}
#illiad-content .NLMDDSRequest {
  margin-bottom: 20px;
}
#illiad-content .validationError {
  font-weight: bold;
  color: #FF0000;
}
#illiad-content .urlPDF {
  background-image: url("images/pdficon.gif");
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 20px;
  margin: .4em 0;
}
/*
LEGAL
=====
Copyright: Daemon Pty Limited 1995-2006, http://www.daemon.com.au & http://www.mollio.org/
License: Released Under the "Common Public License 1.0", http://www.opensource.org/licenses/cpl.php
Version: 010306
*/
