
{% extends "layouts/layout.html" %}
{% block title %}Article Request{% endblock %}

{% block content %}
<!-- Template file: {{ templateFilename }} -->
<div id="wrap">
    <#INCLUDE filename="include_header.html">
    <h1>{{ self.title() }}</h1>
    <div id="content-wrap">
        <#INCLUDE filename="include_menu.html">
        <div class="col-sm-10">
        <div id="status"><#STATUS></div>
          <!-- MAIN CONTENT AREA -->
<div>
 <form action="illiad.dll" class="f-wrap-request" method="post" name="ArticleRequest">
  <input name="ILLiadForm" type="hidden" value="ArticleRequest"/>
  <input name="Username" type="hidden" value="<#PARAM name='Username'>"/>
  <input name="SessionID" type="hidden" value="<#PARAM name='SessionID'>"/>
  <fieldset>
   <h3>
    {{ self.title() }}
   </h3>
      <p>Use this form to request a PDF of an article from a journal, magazine, newspaper, etc. not available online at Smith.</p>
   <#STATUS>
   <h2>
    Describe the item you want
   </h2>
        <div class="req">
   <b>
    *
   </b>
   Indicates required field
  </div>
   <label for="PhotoJournalTitle">
    <span class="field">
     <span class="req">
      *
     </span>
     <span class="<#ERROR name='ERRORPhotoJournalTitle'>">
      <b>
       Publication Title
      </b>
     </span>
     <br/>
     <span class="note">
      Journal, magazine, newspaper, etc. - please do not abbreviate
     </span>
    </span>
    <textarea class="f-name" cols="40" id="PhotoJournalTitle" name="PhotoJournalTitle" rows="2"><#PARAM name='PhotoJournalTitle'></textarea>
    <br/>
   </label>
   <label for="PhotoArticleAuthor">
    <span class="field">
     <span class="<#ERROR name='ERRORPhotoArticleAuthor'>">
      <b>
       Article Author
      </b>
     </span>
    </span>
    <input class="f-name" id="PhotoArticleAuthor" name="PhotoArticleAuthor" size="40" type="text" value="<#PARAM name='PhotoArticleAuthor'>"/>
    <br/>
   </label>
   <label for="PhotoArticleTitle">
    <span class="field">
     <span class="<#ERROR name='ERRORPhotoArticleTitle'>">
      <b>
       Article Title
      </b>
     </span>
    </span>
    <textarea class="f-name" cols="40" id="PhotoArticleTitle" name="PhotoArticleTitle" rows="2"><#PARAM name='PhotoArticleTitle'></textarea>
    <br/>
   </label>
   <label for="PhotoJournalVolume">
    <span class="field">
     <span class="<#ERROR name='ERRORPhotoJournalVolume'>">
      <b>
       Volume Number
      </b>
     </span>
    </span>
    <input class="f-name" id="PhotoJournalVolume" name="PhotoJournalVolume" size="40" type="text" value="<#PARAM name='PhotoJournalVolume'>"/>
    <br/>
   </label>
   <label for="PhotoJournalIssue">
    <span class="field">
     <span class="<#ERROR name='ERRORPhotoJournalIssue'>">
      <b>
       Issue Number
      </b>
     </span>
         <br/>
     <span class="note">
      If given
     </span>
    </span>
    <input class="f-name" id="PhotoJournalIssue" name="PhotoJournalIssue" size="40" type="text" value="<#PARAM name='PhotoJournalIssue'>"/>
    <br/>
   </label>
   <label for="PhotoJournalMonth">
    <span class="field">
     <span class="<#ERROR name='ERRORPhotoJournalMonth'>">
      <b>
       Month
      </b>
     </span>
         <br/>
     <span class="note">
      Or designation such as Winter, Spring, etc. - if given
     </span>
    </span>
    <input class="f-name" id="PhotoJournalMonth" name="PhotoJournalMonth" size="40" type="text" value="<#PARAM name='PhotoJournalMonth'>"/>
    <br/>
   </label>
   <label for="PhotoJournalYear">
    <span class="field">
     <span class="req">
      *
     </span>
     <span class="<#ERROR name='ERRORPhotoJournalYear'>">
      <b>
       Year
      </b>
     </span>
    </span>
    <input class="f-name" id="PhotoJournalYear" name="PhotoJournalYear" size="40" type="text" value="<#PARAM name='PhotoJournalYear'>"/>
    <br/>
   </label>
   <label for="PhotoJournalInclusivePages">
    <span class="field">
     <span class="<#ERROR name='ERRORPhotoJournalInclusivePages'>">
      <b>
       Pages
      </b>
     </span>
         <br/>
     <span class="note">
      Provide starting and ending pages, e.g., 325-343
     </span>
    </span>
    <input class="f-name" id="PhotoJournalInclusivePages" name="PhotoJournalInclusivePages" size="40" type="text" value="<#PARAM name='PhotoJournalInclusivePages'>"/>
    <br/>
   </label>
   <label for="ISSN">
    <span class="field">
     <span class="<#ERROR name='ERRORISSN'>">
      <b>
       ISSN
      </b>
     </span>
        <br/>
        <span class="note">
      If given will speed request processing
     </span>
     <br/>
    </span>
    <input class="f-name" id="ISSN" name="ISSN" size="20" type="text" value="<#PARAM name='ISSN'>"/>
    <br/>
   </label>
   <label for="CallNumber">
    <span class="field">
     <span class="<#ERROR name='ERRORCallNumber'>">
      <b>
       Call Number
      </b>
     </span>
    </span>
    <input class="f-name" id="CallNumber" name="CallNumber" size="20" type="text" value="<#PARAM name='CallNumber'>"/>
    <br/>
   </label>
   <label for="ESPNumber">
    <span class="field">
     <span class="<#ERROR name='ERRORESPNumber'>">
      <b>
       WorldCat Accession Number
      </b>
     </span>
        <br/>
        <span class="note">
      If given - enter the number only, with no other symbols or characters.
     </span>
    </span>
    <input class="f-name" id="ESPNumber" name="ESPNumber" size="20" type="text" value="<#PARAM name='ESPNumber'>"/>
    <br/>
   </label>
   <label for="NotWantedAfter">
    <span class="field">
     <span class="req">
      *
     </span>
     <span class="<#ERROR name='ERRORNotWantedAfter'>">
      <b>
       Not Wanted After Date
      </b>
     </span>
     <br/>
     <span class="note">
      MM/DD/YYYY - typical turnaround time is 2-5 days
     </span>
    </span>
    <input class="f-name" id="NotWantedAfter" name="NotWantedAfter" size="40" type="text" value="<#PARAM name='NotWantedAfter'>"/>
    <br/>
   </label>
   <label for="AcceptNonEnglish">
    <span class="field">
     <span class="<#ERROR name='ERRORAcceptNonEnglish'>">
      <b>
       Will you accept the item in a language other than English?
      </b>
     </span>
     <br/>
     <span class="note">
      If yes, specify acceptable languages in the notes field.
     </span>
    </span>
    <select class="f-name" id="AcceptNonEnglish" name="AcceptNonEnglish" size="1">
     <option selected="">
      <#PARAM name='AcceptNonEnglish'>
     </option>
     <option>
      No
     </option>
     <option>
      Yes
     </option>
    </select>
    <br/>
   </label>
   <label for="AccountNo">
    <span class="field">
     <span class="<#ERROR name='ERRORAccountNo'>">
      <b>
       Account Number
      </b>
     </span>
    </span>
    <select class="f-name" id="AccountNo" name="AccountNo" size="1">
     <#OPTION name='ValidAccounts'>
    </select>
    <br/>
   </label>
   <label for="Notes">
    <span class="field">
     <span class="<#ERROR name='ERRORNotes'>">
      <b>
       Notes
      </b>
     </span>
     <br/>
     <span class="note">
      Add any information here that may help us find the item.
     </span>
    </span>
    <textarea class="f-name" cols="40" id="Notes" name="Notes" rows="2"><#PARAM name='Notes'></textarea>
    <br/>
   </label>
   <#INCLUDE filename='include_request_cited.html'>                
                    <#INCLUDE filename='include_request_buttons.html'>
  </fieldset>
 </form>
 <#INCLUDE filename='include_footer.html'>
</div>

          <!-- / MAIN CONTENT AREA -->
        </div>
    </div>
{% endblock %}
