
{% extends "layouts/layout.html" %}
{% block title %}PDFs Received{% endblock %}

{% block content %}
<!-- Template file: {{ templateFilename }} -->
<div id="wrap">
    <div id="content-wrap">
        <#INCLUDE filename="include_menu.html">
        <div class="col-sm-10">
        <div id="status"><#STATUS></div>
          <!-- MAIN CONTENT AREA -->
<div>
 <ul>
   <li>Articles posted to this page will remain accessible by the requestor for <b>30 days from the date of posting</b>.
     </li>
   <li>In the event that you accidentally delete a needed article from this web page--or if an article is incomplete or illegible--please email the Interlibrary Loan Office snnill@smith.edu immediately.
     </li>
 </ul>
  <h4>Warning Concerning Copyright Restrictions</h4>
 <p>
 The Copyright Law of the United States (Title 17, United States Code) governs the making of photocopies or other reproductions of copyrighted materials.
Under certain conditions specified in the law, libraries and archives are authorized to furnish a photocopy or other reproduction. One of these specified conditions is that the photocopy or reproduction is not to be "used for any purpose other than private study, scholarship, or research." If electronic transmission of material is used for purposes in excess of what constitutes "fair use," that user may be liable for copyright infringement.
 </p>   
 <div class="default-table">
  <#TABLE name='ElectronicDelivery' headerText="Electronically Received Articles" column="View" column="Size" column="Title" column="Author" column="Expires" column="TransactionNumber:Transaction" column="Delete">
  <br/>
 </div>
 <#INCLUDE filename='include_footer.html'>
</div>

          <!-- / MAIN CONTENT AREA -->
        </div>
    </div>
{% endblock %}
