
{% extends "layouts/layout.html" %}
{% block title %}Interlibrary Loan Main Menu{% endblock %}

{% block content %}
<!-- Template file: {{ templateFilename }} -->
<div id="wrap">
    <div id="content-wrap">
        <#INCLUDE filename="include_menu.html">
        <div class="col-sm-10">
        <div id="status"><#STATUS></div>
          <!-- MAIN CONTENT AREA -->
<div>
    <p><font color="red">Interlibrary Loan will not be providing borrowing or lending services for the remainder of the spring 2020 semester.</font> See <a href="https://libraries.smith.edu/library-services-during-covid-19">Library Services During COVID-19.</a></p>
 <div class="default-table" id="table-main-outstanding-requests">
  <#TABLE name="ViewOutstandingRequests" headerText="Outstanding Requests" noDataAction="ShowMessageRow" noDataMessage="No Requests" column="TransactionNumber:Transaction" column="DocumentType:Type" column="Title" column="Author" column="TransactionStatus:Status">
 </div>
 <#INCLUDE filename="include_footer.html">
</div>

          <!-- / MAIN CONTENT AREA -->
        </div>
    </div>
{% endblock %}
