
{% extends "layouts/layout.html" %}
{% block title %}Interlibrary Loan Login{% endblock %}

{% block content %}
<!-- Template file: {{ templateFilename }} -->
<div id="wrap">
    <div id="content-wrap">
        <div class="col-sm-10">
        <div id="status"><#STATUS></div>
          <!-- MAIN CONTENT AREA -->
<div>
 <form action="<#DLL>" class="f-wrap-1" method="post" name="Logon">
  <input name="ILLiadForm" type="hidden" value="Logon"/>
  <#FORMSTATE>
  <div id="logonform">
   <fieldset>
    <h2>
     {{ self.title() }}
    </h2>
       <p>Welcome to the new Interlibrary Loan interface. Please let us know if you have any questions.</p>
    <p><b>First time users</b> must register and create an interlibrary loan account username and password.<br />
      <a href="illiad.dll?Action=10&Form=79">
       Register for Interlibrary Loan
      </a>
    </p>
    <label for="username">
     <span class="field">
      <b>
       Username
      </b>
     </span>
     <input class="f-name" id="username" name="Username" type="text"/>
     <br/>
    </label>
    <label for="password">
     <span class="field">
      <b>
       Password
      </b>
     </span>
     <input class="f-name" id="password" name="Password" type="password"/>
     <br/>
    </label>
    <div class="f-submit-wrap">
      <button class="btn btn-primary" name="SubmitButton" value="Logon to ILLiad" type="submit">Login</button>
     <br/>
    </div>
   </fieldset>
  </div>
 </form>
 <form action="illiad.dll?Action=10&Form=79" id="RegisterForm" method="post" name="RegisterForm">
  <#FORMSTATE>
      <br>
 </form>
 <#INCLUDE filename="include_footer.html">
</div>

          <!-- / MAIN CONTENT AREA -->
        </div>
    </div>
{% endblock %}
