
{% extends "layouts/layout.html" %}
{% block title %}Interlibrary Loan Login{% endblock %}

{% block content %}
<!-- Template file: {{ templateFilename }} -->
<div id="wrap">
    <h1>{{ self.title() }}</h1>
    <div id="content-wrap">
        <div class="col-sm-10">
          <!-- MAIN CONTENT AREA -->
<div>
 <form action="illiad.dll" class="f-wrap-1" method="post" name="Logon">
  <input name="ILLiadForm" type="hidden" value="Logon"/>
  <div id="logonform">
   <fieldset>
    <h3>
     {{ self.title() }}
    </h3>
      <p>Enter your interlibrary loan username and password.</p> 
    <label for="username">
     <span class="field">
      <b>
       Username
      </b>
     </span>
     <input class="f-name" id="username" name="Username" type="text"/>
     <br/>
    </label>
    <label for="password">
     <span class="field">
      <b>
       Password
      </b>
     </span>
     <input class="f-name" id="password" name="Password" type="password"/>
     <br/>
    </label>
    <div class="f-submit-wrap">
     <input class="f-submit" name="SubmitButton" type="submit" value="Login to Interlibrary Loan"/>
     <br/>
    </div>
   </fieldset>
  </div>
 </form>
 <a href="illiad.dll?Action=10&Form=79">
  Register for Interlibrary Loan
 </a><br>
    <span class="note">
        <b>First time users</b> must register and create an interlibrary loan account username and password.
     </span>
 <div id="footer">
  Copyright © 2015
  <a href="http://www.atlas-sys.com">
   Atlas Systems, Inc.
  </a>
  All Rights Reserved.
 </div>
</div>

          <!-- / MAIN CONTENT AREA -->
        </div>
    </div>
{% endblock %}
