
{% extends "layouts/layout.html" %}
{% block title %}New Smith User Registration{% endblock %}

{% block content %}
<!-- Template file: {{ templateFilename }} -->
<div id="wrap">
    <div id="content-wrap">
        <#INCLUDE filename="include_menu.html">
        <div class="col-sm-10">
        <div id="status"><#STATUS></div>
          <!-- MAIN CONTENT AREA -->
<div>
 <form action="illiad.dll" class="f-wrap-request" method="post" name="NewAuthRegistration">
  <input name="ILLiadForm" type="hidden" value="NewAuthRegistration"/>
  <#FORMSTATE>
  <div class="req">
   <b>
    *
   </b>
   Indicates required field
  </div>
  <fieldset>
  <h2>
    {{ self.title() }}
   </h2>
      <h3>Important Information for Research Assistants</h3>
      <p>If registering as a Faculty Research Assistant, please use the <a href="https://smithcollege.illiad.oclc.org/illiad/ra-login/illiad.dll?Action=10&Form=79">Research Assistant Registration Form</a>.</p>
   <label for="FirstName">
    <span class="field">
     <span class="req">
      *
     </span>
     <span class="<#ERROR name='ERRORFirstName'>">
      <b>
       First Name
      </b>
     </span>
    </span>
    <input class="f-name" id="FirstName" name="FirstName" size="40" type="text" value="<#PARAM name='FirstName'>"/>
    <br/>
   </label>
   <label for="LastName">
    <span class="field">
     <span class="req">
      *
     </span>
     <span class="<#ERROR name='ERRORLastName'>">
      <b>
       Last Name
      </b>
     </span>
    </span>
    <input class="f-name" id="LastName" name="LastName" size="40" type="text" value="<#PARAM name='LastName'>"/>
    <br/>
   </label>
   <label for="SSN">
    <span class="field">
     <span class="req">
      *
     </span>
     <span class="<#ERROR name='ERRORSSN'>">
      <b>
       Smith OneCard Number
      </b>
     </span>
        <br/>
     <span class="note">Enter the 99 number on the front of your OneCard.</span>
    </span>
    <input class="f-name" id="SSN" name="SSN" size="40" type="text" value="<#PARAM name='SSN'>"/>
    <br/>
   </label>
   <label for="EMailAddress">
    <span class="field">
     <span class="req">
      *
     </span>
     <span class="<#ERROR name='ERROREMailAddress'>">
      <b>
       Smith Email Address
      </b>
     </span>
        <br/>
     <span class="note">Notices are sent to @smith.edu addresses only.</span>
    </span>
    <input class="f-name" id="EMailAddress" name="EMailAddress" size="40" type="text" value="<#PARAM name='EMailAddress'>"/>
    <br/>
   </label>
   <label for="Phone">
    <span class="field">
     <span class="req">
      *
     </span>
     <span class="<#ERROR name='ERRORPhone'>">
      <b>
       Daytime Phone
      </b>
     </span>
    </span>
    <input class="f-name" id="Phone" name="Phone" size="40" type="text" value="<#PARAM name='Phone'>"/>
    <br/>
   </label>
   <!-- Hide unused fields
   <label for="MobilePhone">
    <span class="field">
     <span class="<#ERROR name='ERRORMobilePhone'>">
      <b>
       Mobile Phone
      </b>
     </span>
    </span>
    <input class="f-name" id="MobilePhone" name="MobilePhone" size="40" type="text" value="<#PARAM name='MobilePhone'>"/>
    <br/>
   </label>
 -->
   <label for="Address">
    <span class="field">
     <span class="req">
      *
     </span>
     <span class="<#ERROR name='ERRORAddress'>">
      <b>
       Primary Address Line 1
      </b>
     </span>
    </span>
    <input class="f-name" id="Address" name="Address" size="40" type="text" value="<#PARAM name='Address'>"/>
    <br/>
   </label>
   <label for="Address2">
    <span class="field">
     <span class="<#ERROR name='ERRORAddress2'>">
      <b>
       Primary Address Line 2
      </b>
     </span>
    </span>
    <input class="f-name" id="Address2" name="Address2" size="40" type="text" value="<#PARAM name='Address2'>"/>
    <br/>
   </label>
   <label for="City">
    <span class="field">
     <span class="req">
      *
     </span>
     <span class="<#ERROR name='ERRORCity'>">
      <b>
       Primary Address City
      </b>
     </span>
    </span>
    <input class="f-name" id="City" name="City" size="40" type="text" value="<#PARAM name='City'>"/>
    <br/>
   </label>
   <label for="State">
    <span class="field">
     <span class="req">
      *
     </span>
     <span class="<#ERROR name='ERRORState'>">
      <b>
       Primary Address State
      </b>
     </span>
    </span>
    <select class="f-name" id="State" name="State" size="1">
     <option>Massachusetts</option>
     <#OPTION name="custom" groupname="State" selectedValue="<#PARAM name=State>" defaultValue="" defaultName="" />
    </select>
    <br/>
   </label>
   <label for="Zip">
    <span class="field">
     <span class="req">
      *
     </span>
     <span class="<#ERROR name='ERRORZip'>">
      <b>
       Primary Address Zip
      </b>
     </span>
    </span>
    <input class="f-name" id="Zip" name="Zip" size="40" type="text" value="<#PARAM name='Zip'>"/>
    <br/>
   </label>
   <!-- Hide unused fields
   <label for="SAddress">
    <span class="field">
     <span class="<#ERROR name='ERRORSAddress'>">
      <b>
       Secondary Address Line 1
      </b>
     </span>
    </span>
    <input class="f-name" id="SAddress" name="SAddress" size="40" type="text" value="<#PARAM name='SAddress'>"/>
    <br/>
   </label>
   <label for="SAddress2">
    <span class="field">
     <span class="<#ERROR name='ERRORSAddress2'>">
      <b>
       Secondary Address Line 2
      </b>
     </span>
    </span>
    <input class="f-name" id="SAddress2" name="SAddress2" size="40" type="text" value="<#PARAM name='SAddress2'>"/>
    <br/>
   </label>
   <label for="SCity">
    <span class="field">
     <span class="<#ERROR name='ERRORSCity'>">
      <b>
       Secondary Address City
      </b>
     </span>
    </span>
    <input class="f-name" id="SCity" name="SCity" size="40" type="text" value="<#PARAM name='SCity'>"/>
    <br/>
   </label>
   <label for="SState">
    <span class="field">
     <span class="<#ERROR name='ERRORSState'>">
      <b>
       Secondary Address State
      </b>
     </span>
    </span>
    <select class="f-name" id="SState" name="SState" size="1">
     <#OPTION name="custom" groupname="State" selectedValue="<#PARAM name=SState>" defaultValue="" defaultName="" />
    </select>
    <br/>
   </label>
   <label for="SZip">
    <span class="field">
     <span class="<#ERROR name='ERRORSZip'>">
      <b>
       Secondary Address Zip
      </b>
     </span>
    </span>
    <input class="f-name" id="SZip" name="SZip" size="40" type="text" value="<#PARAM name='SZip'>"/>
    <br/>
   </label>
 -->
   <label for="StatusGroup">
    <span class="field">
     <span class="req">
      *
     </span>
     <span class="<#ERROR name='ERRORStatus'>">
      <b>
       Status
      </b>
     </span>
    </span>
    <select class="f-name" id="StatusGroup" name="StatusGroup" size="1">
     <!-- <#OPTION name="custom" groupname="StatusGroup" selectedValue="<#PARAM name=StatusGroup>" defaultValue="" defaultName="" /> -->
     <option>Faculty</option>
     <option>Staff</option>
     <option>SSW Grad Student</option>
     <option>Grad Student--Other</option>
     <option>2018 Undergrad</option>
     <option>2019 Undergrad</option>
     <option>2020 Undergrad</option>
     <option>2021 Undergrad</option>
     <option>Spouse/Partner</option>
     <option>Other</option>
    </select>
    <br/>
   </label>
   <label for="Department">
    <span class="field">
     <span class="req">
      *
     </span>
     <span class="<#ERROR name='ERRORDepartment'>">
      <b>
       Department
      </b>
     </span>
        <br/>
      <span class="note">
      For faculty only
     </span>    
    </span>
    <select class="f-name" id="Department" name="Department" size="1">
      <!-- <#OPTION name="custom" groupname="Department" selectedValue="<#PARAM name=Department>" defaultValue="" defaultName=""/> -->
      <option>None</option>
      <option>Africana Studies</option>
      <option>American Studies</option>
      <option>Anthropology</option>
      <option>Art</option>
      <option>Astronomy</option>
      <option>Biochemistry</option>
      <option>Biology</option>
      <option>Classics</option>
      <option>Comparative Literature</option>
      <option>Computer Science</option>
      <option>Dance</option>
      <option>East Asian</option>
      <option>Economics</option>
      <option>Education</option>
      <option>Engineering</option>
      <option>English</option>
      <option>Environmental Sciences</option>
      <option>Exercise and Sport Studies</option>
      <option>Film &amp; Media Studies</option>
      <option>French</option>
      <option>Geosciences</option>
      <option>German</option>
      <option>Government</option>
      <option>History</option>
      <option>Italian</option>
      <option>Jewish Studies</option>
      <option>Latin American Studies</option>
      <option>Mathematics</option>
      <option>Medieval Studies</option>
      <option>Middle East Studies</option>
      <option>Music</option>
      <option>Neuroscience</option>
      <option>Philosophy</option>
      <option>Physics</option>
      <option>Psychology</option>
      <option>Religion</option>
      <option>Russian</option>
      <option>Social Work</option>
      <option>Sociology</option>
      <option>Spanish &amp; Portuguese</option>
      <option>Statistical &amp; Data Sciences</option>
      <option>Theatre</option>
      <option>Women &amp; Gender Studies</option>
    </select>
    <br/>
   </label>
   <!-- Hide unused fields
   <label for="NVTGC">
    <span class="field">
     <span class="<#ERROR name='ERRORNVTGC'>">
      <b>
       Delivery Location
      </b>
     </span>
    </span>
    <select class="f-name" id="NVTGC" name="NVTGC" size="1">
     <#OPTION name="custom" groupname="NVTGC" selectedValue="<#PARAM name=NVTGC>" defaultValue="" defaultName=""/>
    </select>
    <br/>
   </label>
<#include filename="include_notification_preferences.html">
 -->
  <div class="fine-print">
       <h3>Warning Concerning Copyright Restrictions</h3>
<p>The copyright law of the United States (Title 17, United States Code) governs the making of photocopies or other reproductions of copyrighted materials.
Under certain conditions specified in the law, libraries and archives are authorized to furnish a photocopy or other reproduction. One of these specified conditions is that the photocopy or reproduction is not to be "used for any purpose other than private study, scholarship, or research". If a user makes a request for, or later uses, a photocopy or reproduction for purposes in excess of "fair use", that user may be liable for copyright infringement.
This institution reserves the right to refuse to accept a copying order if, in its judgment, fulfillment of the order would involve violation of copyright law.</p>
       <p><em>By registering to use Interlibrary Loan, you acknowledge and agree to the copyright terms and conditions outlined above.</em></p>
       </div>
       <br/>
   <div align="right" class="f-submit-wrap">
    <input class="btn btn-primary" name="SubmitButton" type="submit" value="Submit Information"/>
    <input class="btn btn-submit" name="ResetButton" type="reset" value="Clear Form"/>
    <input class="btn btn-primary" name="SubmitButton" type="submit" value="Cancel - Exit ILLiad System"/>
   </div>
  </fieldset>
 </form>
 <#INCLUDE filename="include_footer.html">
</div>

          <!-- / MAIN CONTENT AREA -->
        </div>
    </div>
{% endblock %}
