
{% extends "layouts/layout.html" %}
{% block title %}Cancelled Requests{% endblock %}

{% block content %}
<div id="wrap">
    <#INCLUDE filename="include_header.html">
    <h1>{{ self.title() }}</h1>
    <div id="content-wrap">
        <#INCLUDE filename="include_menu.html">
        <div class="col-sm-10">
          <!-- MAIN CONTENT AREA -->
<div>
 <div class="default-table">
  <#TABLE name='ViewResubmitCancelledItems' headerText="Cancelled Requests" noDataAction="ShowMessageRow" noDataMessage="No Cancelled Requests">
 </div>
 <#INCLUDE filename='include_footer.html'>
</div>

          <!-- / MAIN CONTENT AREA -->
        </div>
    </div>
{% endblock %}
