
{% extends "layouts/layout.html" %}
{% block title %}Notifications{% endblock %}

{% block content %}
<!-- Template file: {{ templateFilename }} -->
<div id="wrap">
    <div id="content-wrap">
        <#INCLUDE filename="include_menu.html">
        <div class="col-sm-10">
        <div id="status"><#STATUS></div>
          <!-- MAIN CONTENT AREA -->
<div>
<!-- <a href="<#ACTION action='2' type='41' value='RSSID' valueType='lookup' absolutePath='false' includeSessionID='false'>">
  Subscribe to Notifications Feed
</a> -->
 <br/>
 <div class="default-table">
  <#TABLE name="ViewEmailNotifications" headerText="Email Notifications" maxRows="20" noDataAction="ShowMessageRow" noDataMessage="No Email Notifications">
 </div>
 <br/>
<!-- <div class="default-table">
  <#TABLE name="ViewSMSNotifications" headerText="SMS Notifications" maxRows="20" noDataAction="ShowMessageRow" noDataMessage="No SMS Notifications">
</div> -->
 <#INCLUDE filename="include_footer.html">
</div>

          <!-- / MAIN CONTENT AREA -->
        </div>
    </div>
{% endblock %}
