
{% extends "layouts/layout.html" %}
{% block title %}Cancelled Requests{% endblock %}

{% block content %}
<!-- Template file: {{ templateFilename }} -->
<div id="wrap">
    <div id="content-wrap">
        <#INCLUDE filename="include_menu.html">
        <div class="col-sm-10">
        <div id="status"><#STATUS></div>
          <!-- MAIN CONTENT AREA -->
<div>
 <div class="default-table">
  <#TABLE name="ViewResubmitCancelledItems" headerText="Cancelled Requests" noDataAction="ShowMessageRow" noDataMessage="No Cancelled Requests">
 </div>
 <#INCLUDE filename="include_footer.html">
</div>

          <!-- / MAIN CONTENT AREA -->
        </div>
    </div>
{% endblock %}
